{% extends 'base.html' %}{% load static %}{% block title %}Products{% endblock %}{% block content %}

      <div id="wrap">
        <div id="columns" class="columns_4">
          {% for product in object_list %}

        <figure>
        <img src="{{ product.image.url }}">
        <figcaption>{{ product.name }}</figcaption>
        <figcaption>{{ product.sub_category }}</figcaption>

          <span class="price">${{ product.price }}</span>
          <a class="button" href="#">Buy Now</a>
        </figure>
        {% endfor %}

      </div>

{% endblock content %}